/* FONT FACE */
@font-face {
	font-family: 'TT Commons';
	src: local('TT Commons DemiBold'), local('TTCommons-DemiBold'),
			url('../fonts/TTCommons-DemiBold.woff2') format('woff2'),
			url('../fonts/TTCommons-DemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TT Commons';
	src: local('TT Commons Regular'), local('TTCommons-Regular'),
			url('../fonts/TTCommons-Regular.woff2') format('woff2'),
			url('../fonts/TTCommons-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@import 'bootstrap';
@import 'glide.core';
@import 'glide.theme';
@import 'pikaday';
@import 'csshake';
@import 'aos';


body {
	overflow-x: hidden;
}

.img-holder {
	img {
		max-width: 100%;
		height: auto;
	}
}
.lh-1 {
	line-height: 1;
}
.zi-10 {
	position: relative;
	z-index: 10;
}
.res-col {
	@include media-breakpoint-down(xl) {
		padding-left: 12px;
		padding-right: 12px;
	}
	@include media-breakpoint-down(lg) {
		padding-left: 8px;
		padding-right: 8px;
	}
	> [class^='col-'] {
		@include media-breakpoint-down(xl) {
			padding-left: 12px;
			padding-right: 12px;
		}
		@include media-breakpoint-down(lg) {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}
.scroll-to-top {
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: $spacer * 2;
	left: 50%;
	z-index: 9999;
	width: 56px;
	height: 56px;
	cursor: pointer;
	border-radius: 50%;
	background: $primary;
	transform: translateX(-50%);
	transition: all 0.25s;
	box-shadow: 0 0 0 6px transparentize($primary, 1), 0 12px 27px -2px transparentize($primary, 0.4);
	&:hover,
	&:focus {
		transform: translateX(-50%) translateY(-6px);
		box-shadow: 0 0 0 6px transparentize($primary, 0.75), 0 18px 24px -6px transparentize($primary, 0.4);
	}
	&.visible {
		opacity: 1;
	}
	.icon {
		transform: rotate(-90deg);
		fill: $white;
		width: 24px;
		height: 24px;
	}
}
.imp-message {
	position: absolute;
	z-index: 1100;
	top: $spacer * 4;
	left: 50%;
	max-width: 75%;
	transform: translateX(-50%);
	&:before,
	&:after {
		content: '';
		position: absolute;
	}
	&:before {
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: lighten($success, 47%);
		border: 2px solid lighten($success, 32%);
		border-radius: $border-radius-sm;
	}
	&:after {
		z-index: -2;
		top: -9999px;
		left: -9999px;
		right: -9999px;
		bottom: -9999px;
		background: transparentize($white, 0.1);
	}
	&.alert {
		border: none;
		background: none;
		color: darken($success, 30%);
		font-size: $font-size-sm * 1.125;
		line-height: 1.25;
		h5 {
			color: darken($success, 40%);
		}
	}
}


#wrapper {
	overflow: hidden;
	background: $white;
	@include media-breakpoint-down(lg) {
		padding-top: $spacer * 3.5;
	}
}
section.section {
	padding: $spacer * 4.5 0;
	@include media-breakpoint-down(xl) {
		padding: $spacer * 3.5 0;
		font-size: $font-size-sm * 1.1;
	}
	@include media-breakpoint-down(lg) {
		padding: $spacer * 3 0;
	}
	@include media-breakpoint-down(md) {
		padding: $spacer * 2.5 0;
		font-size: $font-size-sm;
	}
	@include media-breakpoint-down(sm) {
		padding: $spacer * 2 0;
	}
	&.background-light {
		background: $gray-100;
	}
	&.background-dark {
		background: $gray-900;
		color: $gray-200;
		.section-header {
			.section-heading {
				color: $white;
			}
			.sub-title {
				color: $gray-500;
			}
		}
	}
	&.background-dark-color {
		color: $white;
		.section-header {
			.seo-title {
				color: lighten($primary, 40%);
			}
			.section-heading {
				color: $white;
				text-shadow: 0 2px 3px transparentize($gray-900, 0.75);
			}
			.sub-title {
				color: $white;
				font-weight: $font-weight-bold;
				// color: transparentize($white, 0.3);
				text-shadow: 0 1px 2px transparentize($gray-900, 0.85);
			}
		}
	}
	&.background-amall {
		background: linear-gradient(to top right, #A6FFCB, #12D8FA, #1FA2FF);
		background: linear-gradient(to top right, #20BDFF, #5433FF); 
		// background: linear-gradient(to top right, #A5FECB, #20BDFF); 
	}
	&.has-bg-img {
		position: relative;
		z-index: 1;
	}
	&.has-bg-img-url {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&.is-page-title {
		background: linear-gradient(to right, #0052d4, #47b9f1, #94e5ff);
		padding: 0 0 $spacer * 2;
		overflow: hidden;
		display: flex;
		align-items: flex-end;
		height: 300px;
		z-index: 3;
		box-shadow: 0 2px 5px transparentize($black, 0.85);
		@include media-breakpoint-down(xl) {
			height: 200px;
		}
		@include media-breakpoint-down(lg) {
			height: 180px;
		}
		@include media-breakpoint-down(md) {
			height: auto;
			padding: $spacer * 2 0;
		}
		@include media-breakpoint-down(sm) {
		}
		.section-header {
			margin-bottom: 0;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				bottom: -($spacer * 2);
				left: 0;
				width: $spacer * 3;
				height: $spacer * 0.75;
				background: $white;
			}
			.section-heading {
				color: $white;
				line-height: 1;
				margin-bottom: $spacer / 2;
				@include media-breakpoint-down(xl) {
					font-size: $h1-font-size * 0.9;
				}
				@include media-breakpoint-down(lg) {
					font-size: $h1-font-size * 0.8;
				}
				@include media-breakpoint-down(md) {
					font-size: $h1-font-size * 0.7;
					margin-bottom: 0;
				}
				@include media-breakpoint-down(sm) {
					font-size: $h1-font-size * 0.6;
				}
			}
			.sub-title {
				color: lighten($primary , 40%);
				line-height: 1;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background: linear-gradient(90deg, rgba(0,82,212,1) 0%, rgba(51,141,230,1) 25%, rgba(101,199,247,0.30) 50%, rgba(156,236,251,0) 100%);
		}
		#particle-bg,
		#bokeh-bg {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			opacity: 1;
		}
	}
	&.pt-0-only {
		padding: 0 0 $spacer * 4.5;
		@include media-breakpoint-down(xl) {
			padding: 0 0 $spacer * 3.5;
			font-size: $font-size-sm * 1.1;
		}
		@include media-breakpoint-down(lg) {
			padding: 0 0 $spacer * 3;
		}
		@include media-breakpoint-down(md) {
			padding: 0 0 $spacer * 2.5;
			font-size: $font-size-sm;
		}
		@include media-breakpoint-down(sm) {
			padding: 0 0 $spacer * 2;
		}
	}
	&.pb-2x {
		padding-bottom: $spacer * 9;
		@include media-breakpoint-down(xl) {
			padding-bottom: $spacer * 6;
		}
		@include media-breakpoint-down(lg) {
			padding-bottom: $spacer * 5;
		}
		@include media-breakpoint-down(md) {
			padding-bottom: $spacer * 4;
		}
		@include media-breakpoint-down(sm) {
			padding-bottom: $spacer * 3;
		}
	}
	&.no-padding {
		padding: 0;
	}
	&.pos-r {
		position: relative;
		z-index: 1;
	}
	h5 {
		@include media-breakpoint-down(xl) {
			font-size: $h5-font-size * 0.85;
		}
		@include media-breakpoint-down(md) {
			font-size: $h5-font-size * 0.75;
		}
	}
	.section-header {
		position: relative;
		z-index: 2;
		margin-bottom: $spacer * 4.5;
		@include media-breakpoint-down(xl) {
			margin-bottom: $spacer * 3;
		}
		@include media-breakpoint-down(lg) {
			margin-bottom: $spacer * 2.5;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: $spacer * 2;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: $spacer * 1.5;
		}
		&.pb-half {
			margin-bottom: $spacer * 3;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer * 2;
			}
			@include media-breakpoint-down(lg) {
				margin-bottom: $spacer * 1.75;
			}
			@include media-breakpoint-down(md) {
				margin-bottom: $spacer * 1.5;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: $spacer * 1.25;
			}
		}
		.seo-title {
			color: $primary;
			line-height: 1;
			letter-spacing: 4px;
			text-transform: uppercase;
			margin-bottom: $spacer * 0.75;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer * 0.5;
			}
			@include media-breakpoint-down(md) {
				font-size: $font-size-sm;
			}
		}
		.section-heading {
			margin-bottom: $spacer / 4;
			@include media-breakpoint-down(xl) {
				margin-bottom: 0;
			}
			@include media-breakpoint-down(md) {
				margin-bottom: $spacer / 2;
			}
		}
		.sub-title {
			font-size: $font-size-lg;
			color: $gray-400;
			@include media-breakpoint-down(xl) {
				font-size: $font-size-base;
				line-height: 1;
			}
			@include media-breakpoint-down(sm) {
				font-size: $font-size-sm;
			}
		}
	}
	.section-backgrounds {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		pointer-events: none;
		.big-arrow,
		.small-arrow {
			position: absolute;
			pointer-events: none;
		}
		.big-arrow {
			top: 0;
			right: 0;
			@include media-breakpoint-down(xl) {
				max-width: 300px;
			}
			@include media-breakpoint-down(lg) {
				max-width: 260px;
			}
			@include media-breakpoint-down(md) {
				max-width: 220px;
			}
			@include media-breakpoint-down(sm) {
				max-width: 180px;
			}
		}
		.small-arrow {
			bottom: 0;
			left: 0;
			@include media-breakpoint-down(xl) {
				max-width: 120px;
			}
			@include media-breakpoint-down(lg) {
				max-width: 100px;
			}
			@include media-breakpoint-down(sm) {
				max-width: 80px;
			}
		}
	}
}
.subsection-hdr {
	padding: $spacer * 4 0 $spacer * 3;
	margin-top: $spacer * 4;
	&.divider-top {
		position: relative;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 50%;
		}
		&:before {
			top: 0;
			width: 100px;
			height: 2px;
			background: $gray-200;
			transform: translateX(-50%);
		}
		&:after {
			top: -5px;
			width: 24px;
			height: 24px;
			background: $white;
			border: 4px solid;
			border-color: $primary $primary transparent transparent;
			transform: translateX(-50%) rotate(-45deg);
			outline: 6px solid $white;
		}
	}
	.subsection-hdr-title {
		margin-bottom: $spacer * 0.75;
	}
	.subsection-hdr-lead {
		line-height: 1.35;
	}
}
.subsection-ftr {
	padding: $spacer * 4 0;
	&.grad-divider {
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			height: 150px;
			background: linear-gradient(to top,
				hsl(240, 6.67%, 97.06%) 0%,
				hsla(240, 6.67%, 97.06%, 0.902) 2.1%,
				hsla(240, 6.67%, 97.06%, 0.804) 4.7%,
				hsla(240, 6.67%, 97.06%, 0.708) 8%,
				hsla(240, 6.67%, 97.06%, 0.614) 11.9%,
				hsla(240, 6.67%, 97.06%, 0.523) 16.4%,
				hsla(240, 6.67%, 97.06%, 0.436) 21.5%,
				hsla(240, 6.67%, 97.06%, 0.355) 27.3%,
				hsla(240, 6.67%, 97.06%, 0.279) 33.8%,
				hsla(240, 6.67%, 97.06%, 0.211) 41%,
				hsla(240, 6.67%, 97.06%, 0.15) 49%,
				hsla(240, 6.67%, 97.06%, 0.099) 57.6%,
				hsla(240, 6.67%, 97.06%, 0.057) 67%,
				hsla(240, 6.67%, 97.06%, 0.026) 77.2%,
				hsla(240, 6.67%, 97.06%, 0.007) 88.2%,
				hsla(240, 6.67%, 97.06%, 0) 100%
			);
		}
	}
	.subsection-ftr-title {
		margin-bottom: $spacer * 0.75;
	}
	.subsection-ftr-lead {
		line-height: 1.2;
	}
}
main[role='main'] {
	padding: $spacer * 4.5 0;
	@include media-breakpoint-down(xl) {
		padding: $spacer * 4 0;
	}
	@include media-breakpoint-down(lg) {
		padding: $spacer * 3.5 0;
	}
	@include media-breakpoint-down(md) {
		padding: $spacer * 3 0;
	}
	@include media-breakpoint-down(sm) {
		padding: $spacer * 2.5 0;
	}
}


/* HEADER */

$header-height: 120px;
$scrolldown-height: 100px;
@keyframes mainnavhover {
	0% {
		top: 0;
		bottom: 100%;
		left: 0;
		right: 0;
	}
	40% {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	45% {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	85% {
		top: calc(100% - 2px);
		bottom: 0;
		left: 0;
		right: 0;
	}
	90% {
		top: calc(100% - 2px);
		bottom: 0;
		left: 0;
		right: 0;
	}
	100% {
		top: calc(100% - 2px);
		bottom: 0;
		left: $spacer;
		right: $spacer;
	}
}
@keyframes mainnavhoverlink {
	0% {
		color: $gray-500;
	}
	15% {
		color: $white;
	}
	70% {
		color: $white;
	}
	85% {
		color: $primary;
	}
	100% {
		color: $primary;
	}
}
#header {
	position: relative;
	z-index: 10;
	// height: $header-height;
	@include media-breakpoint-down(xl) {
		// height: calc(#{$header-height} - #{$spacer * 2});
	}
	@include media-breakpoint-down(xl) {
		display: flex;
		align-items: center;
	}
	@include media-breakpoint-down(sm) {
		// height: 64px;
	}
	.container,
	.container-fluid {
		display: flex;
		justify-content: space-between;
		// align-items: center;
	}
	.logo {
		padding: $spacer * 0.5 0;
		@include media-breakpoint-down(xl) {
			padding: 0;
		}
		@include media-breakpoint-down(lg) {
			padding: $spacer * 0.75 0;
		}
		@include media-breakpoint-down(sm) {
			padding: 0;
			margin: $spacer * 0.5 0;
		}
		a {
			display: block;
		}
		img {
			width: auto;
			height: 100%;
			max-height: 72px;
			@include media-breakpoint-down(xl) {
				max-height: 64px;
			}
			@include media-breakpoint-down(lg) {
				max-height: calc(64px - 1.25rem);
			}
			@include media-breakpoint-down(sm) {
				max-height: 48px;
			}
		}
	}
	.mainnav {
		position: relative;
		.burger-menu {
			display: none;
			border: 2px $gray-900 solid;
			background: $white;
			width: 48px;
			height: 48px;
			padding: 0 8px;
			&:hover,
			&:focus {
				box-shadow: 0 0 0 0.2rem 0 transparentize($gray-900, 0.5);
				transform: scale(0.92, 0.92);
			}
			&.active {
				border-color: $primary;
				background: $primary;
				.bar {
					background: $white;
				}
			}
			.bar {
				display: block;
				background: $gray-900;
				height: 2px;
				border-radius: 2px;
				margin: 6px 0;
			}
			@include media-breakpoint-down(lg) {
				display: block;
			}
		}
		.dropdown-ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			@include media-breakpoint-down(lg) {
				display: none;
				flex-direction: column;
				position: absolute;
				top: calc(100% + #{$spacer * 1.5});
				right: 0;
				z-index: 10;
				width: 300px;
				background: $white;
				box-shadow: 0 8px 24px transparentize($black, 0.75);
				border-radius: $spacer;
				text-align: center;
			}
			&.in {
				display: block;
			}
			li {
				display: flex;
			}
			a {
				position: relative;
				z-index: 1;
				display: flex;
				align-items: center;
				padding: $spacer $spacer * 1.5;
				font-size: $font-size-base;
				color: $gray-500;
				transition: color 0.4s;
				&:hover {
					animation: mainnavhoverlink 0.75s forwards cubic-bezier(0.83, 0, 0.17, 1);
				}
				@include media-breakpoint-down(xl) {
					font-size: $font-size-base;
					height: calc(#{$header-height} - #{$spacer * 2});
					line-height: calc(#{$header-height} - #{$spacer * 4});
				}
				@include media-breakpoint-down(lg) {
					height: auto;
					line-height: 1;
				}
				@include media-breakpoint-down(md) {
					font-size: $font-size-sm;
				}
				&:before {
					content: '';
					position: absolute;
					z-index: -1;
					background: $primary;
				}
				&:hover,
				&:focus {
					color: $primary;
					&:before {
						animation: mainnavhover 0.75s forwards cubic-bezier(0.83, 0, 0.17, 1);
					}
				}
			}
		}
	}
}


/* STICKY HEADER */
#sticky-header-holder {
	background: $white;
	box-shadow: $box-shadow;
	&.main-header {
		// background: none;
		box-shadow: none;
		.container,
		.container-xl,
		.container-xxl {
			display: block;
			@include media-breakpoint-down(lg) {
				display: flex;
			}
		}
		.mobile-logo {
			display: none;
			@include media-breakpoint-down(lg) {
				display: block;
			}
			a {
				display: block;
				@include media-breakpoint-down(lg) {
					padding: $spacer * 0.5;
				}
			}
			img {
				@include media-breakpoint-down(lg) {
					max-height: 64px;
					width: auto;
				}
				@include media-breakpoint-down(md) {
					max-height: 48px;
					width: auto;
				}
			}
		}
		.ai-logo {
			padding: $spacer * 0.75 0;
			margin: 0;
			@include media-breakpoint-down(lg) {
				display: none;
			}
			img {
				max-height: 60px;
			}
		}
		.navbar {
			padding: 0;
			@include media-breakpoint-down(lg) {
				padding: $spacer * 1.5;
			}
			.nav-link {
				padding: $spacer * 2 $spacer;
				position: relative;
				z-index: 1;
				transition: color 0.4s;
				@include media-breakpoint-down(xl) {
					padding: $spacer * 2 $spacer * 0.8;
				}
				@include media-breakpoint-down(lg) {
					padding: $spacer * 0.75 $spacer;
				}
				&:hover {
					animation: mainnavhoverlink 0.75s forwards cubic-bezier(0.83, 0, 0.17, 1);
				}
				&:before {
					content: '';
					position: absolute;
					z-index: -1;
					background: $primary;
				}
				&:hover,
				&:focus {
					color: $primary;
					background: none;
					&:before {
						animation: mainnavhover 0.75s forwards cubic-bezier(0.83, 0, 0.17, 1);
					}
				}
			}
		}
		.offcanvas-header {
			@include media-breakpoint-down(lg) {
				margin-bottom: $spacer * 0.75;
			}
		}
	}
	.container,
	.container-xl,
	.container-xxl {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include media-breakpoint-down(xs) {
			flex-wrap: wrap;
		}
	}
	.logo,
	.ai-logo {
		margin: 0 $spacer * 0.75;
		@include media-breakpoint-down(xs) {
			margin: 0;
			text-align: center;
		}
		a {
			display: block;
			padding: $spacer * 0.3;
		}
		img {
			max-height: 64px;
			@include media-breakpoint-down(md) {
				max-height: 52px;
			}
			@include media-breakpoint-down(xs) {
				max-height: 40px;
			}
		}
	}
	.services-top {
		background: $gray-100;
		box-shadow: inset 0 -1px 0 $gray-200;
		.links {
			display: flex;
			justify-content: center;
			font-size: $font-size-sm;
			@include media-breakpoint-down(md) {
				display: none;
			}
			a {
				display: block;
				padding: $spacer / 2;
				margin: 0 $spacer / 4;
				color: $gray-600;
				&:hover {
					color: $gray-800;
				}
				&.active {
					position: relative;
					overflow: hidden;
					color: darken($primary, 10%);
					&:before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%) rotate(45deg);
						width: 8px;
						height: 8px;
						margin-bottom: -4px;
						background: $white;
						border: 1px solid $gray-300;
					}
				}
			}
		}
		.dropdown {
			display: none;
			@include media-breakpoint-down(md) {
				display: inline-block;
			}
			.dropdown-toggle {
				&:after {
					margin-left: 6px;
					vertical-align: 0.1em;
				}
				.btn-icon {
					margin-top: -2px;
				}
			}
		}
	}
}
#sticky-header {
	line-height: 1.25;
	padding: $spacer * 0.75;
	@include media-breakpoint-down(md) {
		padding: $spacer;
	}
}

.offcanvas-header {
	display: none;
	@include media-breakpoint-down(lg) {
		display: block;
		margin-bottom: $spacer * 0.5;
	}
	.btn-close {
		.btn-icon {
			width: 20px;
			height: 20px;
		}
	}
	h6 {
		padding: $spacer * 0.9 0 $spacer * 0.7;
	}
}
.screen-overlay {
	height: 100%;
	z-index: 30;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	background-color: transparentize($white, 0.2);
	transition: opacity .5s linear, visibility .1s, width 1s ease-in;
	&.show {
		transition: opacity .5s ease, width 0s;
		opacity: 1;
		width: 100%;
		visibility: visible;
	}
}

.mobile-offcanvas {
	@include media-breakpoint-down(lg) {
		display: block !important;
		visibility: hidden;
		position: fixed !important;
		top: 0;
		right: 0;
		width: 320px;
		height: 100%;
		z-index: 1200;
		overflow-y: scroll;
		overflow-x: hidden;
		border-radius: 0; 
		background: $white;
		box-shadow: $box-shadow;
		transform: translateX(100%);
		transition: visibility .75s ease-in-out, transform .75s cubic-bezier(0.83, 0, 0.17, 1);
	}
	@include media-breakpoint-down(xs) {
		width: calc(100% - #{$spacer * 1.5});
	}
	&.show {
		@include media-breakpoint-down(lg) {
			visibility: visible;
			transform: translateX(0);
		}
	}
	.navbar-nav {
		@include media-breakpoint-down(lg) {
			padding: 0;
		}
		.nav-link {
			@include media-breakpoint-down(lg) {
				padding-left: $spacer;
				padding-right: $spacer;
			}
		}
	}
}

.navbar-nav {
	.nav-item {
		&:hover {
			.nav-link {
				color: $white;
				background: $primary;
			}
			.dropdown-menu {
				@include media-breakpoint-up(xl) {
					display: block;
				}
			}
		}
		.dropdown-menu {
			display: none;
			margin-top: 0;
		}
	}
}
.navbar-expand-xl {
	padding-top: 0;
	padding-bottom: 0;
	.has-megamenu {
		position: static !important;
		&.show {
			.nav-link {
				background: $primary;
				&:hover,
				&:focus {
					background: $primary;
				}
			}
		}
	}
	.megamenu {
		left: 0;
		right: 0;
		width: 100%;
		border: none;
		border-radius: $border-radius-sm;
		padding: $spacer * 2 $spacer * 2.5 $spacer * 3.5;
		box-shadow: 0 16px 32px transparentize($white, 0.75),
								0 0 0 5px transparentize($primary, 0.7);
		@include media-breakpoint-down(xl) {
			padding: $spacer * 1.5 $spacer * 2 $spacer * 2.5;
		}
		@include media-breakpoint-down(lg) {
			display: none;
			padding: $spacer;
			box-shadow: none;
			border-radius: none;
		}
		&.show {
			@include media-breakpoint-down(lg) {
				display: block;
			}
		}
		.megamenu-cols {
			padding-top: $spacer * 1.25;
			padding-bottom: $spacer * 1.25;
			border-radius: $border-radius-sm;
			transition: background 0.25s;
			@include media-breakpoint-down(xl) {
				padding-top: $spacer;
				padding-bottom: $spacer;
			}
			@include media-breakpoint-down(lg) {
				padding-top: $spacer * 1.2;
				padding-bottom: $spacer * 0.5;
				border: 1px solid $gray-200;
				border-radius: $border-radius-sm * 0.5;
			}
			&.no-borders {
				@include media-breakpoint-down(lg) {
					border: none;
				}
			}
			&.no-paddings {
				padding: 0;
				@include media-breakpoint-down(lg) {
				}
			}
			&:hover,
			&:focus {
				background: transparentize(darken($primary, 15%), 0.94);
				@include media-breakpoint-down(lg) {
					border-color: transparentize(darken($primary, 8%), 0.65);
				}
			}
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(5),
			&:nth-child(6),
			&.has-top-crnr {
				&:before {
					content: '';
					position: absolute;
					width: 12px;
					height: 12px;
					border: solid $gray-200;
					@include media-breakpoint-down(lg) {
						display: none;
					}
				}
			}
			&:nth-child(1),
			&:nth-child(2) {
				&:before {
					border-width: 0 1px 1px 0;
					bottom: -($spacer * 1.5);
					right: 0;
					@include media-breakpoint-down(xxl) {
						bottom: -$spacer;
					}
				}
			}
			&:nth-child(5),
			&:nth-child(6),
			&.has-top-crnr {
				&:before {
					border-width: 1px 0 0 1px;
					top: calc(#{-$spacer * 1.5} - 1px);
					left: -1px;
					@include media-breakpoint-down(xxl) {
						top: calc(#{-$spacer} - 1px);
					}
				}
			}
			&.has-btm-crnr {
				&:after {
					content: '';
					position: absolute;
					width: 12px;
					height: 12px;
					border: solid $gray-200;
					border-width: 0 1px 1px 0;
					bottom: -($spacer * 1.5);
					right: 0;
					@include media-breakpoint-down(xxl) {
						bottom: -$spacer;
					}
					@include media-breakpoint-down(lg) {
						display: none;
					}
				}
			}
			&.no-hover {
				&:hover,
				&:focus {
					background: none;
				}
			}
			.mm-sec-title {
				margin-bottom: $spacer * 0.25;
				@include media-breakpoint-down(lg) {
				}
			}
			.mm-sec-subtitle {
				font-size: $font-size-sm * 1.125;
				margin-bottom: $spacer * 1.25;
				line-height: 1;
				@include media-breakpoint-down(lg) {
					display: none;
				}
			}
			.mm-sec-content {
				@include media-breakpoint-down(lg) {
					margin-bottom: $spacer * 0.5;
				}
			}
			.mm-sec-link {
				&:hover,
				&:focus {
					color: $primary;
					span {
						&:before {
							left: 0;
							right: auto;
							width: calc(100% - 16px);
						}
					}
				}
				span {
					position: relative;
					display: inline-block;
					vertical-align: top;
					font-size: 85%;
					&:before {
						content: '';
						position: absolute;
						bottom: 0;
						right: 0;
						width: 0;
						height: 2px;
						margin-right: 16px;
						background: $primary;
						transition: width 0.25s cubic-bezier(0.76, 0, 0.24, 1);
					}
				}
			}
			.mm-fh-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				padding: $spacer;
				background: $gray-100;
				border-radius: $border-radius-sm;
				color: $gray-800;
				transition: all 0.25s;
				&:hover {
					background: $white;
					color: $primary;
					box-shadow: inset 0 0 0 4px transparentize($primary, 0.7);
				}
			}
		}
	}
	.nav-link {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
.dropdown {
	&:after {
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		background-color: transparentize($white, 0.25);
		transition: opacity .15s ease-in-out;
	}
	&:hover {
		&:after {
			visibility: visible;
			position: fixed;
			z-index: -1;
			opacity: 1;
		}
		.nav-link {
			position: relative;
			z-index: 12;
		}
	}
}




/* SPLASH */
.splash {
	height: calc(100vh - 60px);
	margin-top: 60px;
	overflow: hidden;
	@include media-breakpoint-down(xs) {
		margin-top: 0;
	}
	.container-xl,
	.container-lg,
	.container-md,
	.container {
		display: flex;
		height: 100%;
		align-items: center;
		@include media-breakpoint-down(md) {
			flex-direction: column;
			justify-content: center;
		}
		> .row {
			align-items: center;
			justify-content: space-between;
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				justify-content: center;
			}
		}
	}
	&-caption {
		h1 {
			line-height: 0.8889;
			margin-bottom: $spacer * 3;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer * 1.5;
				font-size: $h1-font-size * 0.9;
			}
			@include media-breakpoint-down(xl) {
				font-size: $h1-font-size * 0.75;
			}
			@include media-breakpoint-down(md) {
				margin-bottom: $spacer;
			}
			@include media-breakpoint-down(sm) {
				font-size: $h1-font-size * 0.5;
				margin-bottom: $spacer / 2;
			}
			@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
				font-size: $h1-font-size * 0.5;
			}
		}
		.caption-content {
			font-size: $font-size-lg;
			max-width: 85%;
			@include media-breakpoint-down(xl) {
				font-size: $font-size-base;
				line-height: 1.25;
				max-width: none;
				margin-bottom: $spacer;
			}
			@include media-breakpoint-down(md) {
				font-size: $font-size-base;
			}
			@include media-breakpoint-down(sm) {
				font-size: $font-size-sm;
			}
			@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
				font-size: $font-size-sm;
			}
			p {
				@include media-breakpoint-down(xl) {
					margin-bottom: $spacer;
				}
				@include media-breakpoint-down(sm) {
					margin-bottom: $spacer * 0.5;
				}
				@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
					margin-bottom: $spacer * 0.5;
				}
			}
		}
		.splash-btns {
			margin-top: $spacer * 3;
			@include media-breakpoint-down(xl) {
				margin-top: $spacer * 1.5;
			}
			@include media-breakpoint-down(md) {
				margin-top: $spacer;
			}
			@include media-breakpoint-down(sm) {
				margin-top: $spacer;
				display: flex;
			}
			.btn {
				.btn-icon {
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
				+ .btn {
					margin-left: $spacer * 2;
					@include media-breakpoint-down(xl) {
						margin-left: $spacer * 1.5;
					}
					@include media-breakpoint-down(sm) {
						margin-left: $spacer;
					}
				}
			}
		}
	}
	&-image {
		position: relative;
		height: 65vh;
		min-height: 500px;
		max-height: 501px;
		pointer-events: none;
		@include media-breakpoint-down(xl) {
			min-height: 460px;
			max-height: 461px;
		}
		@include media-breakpoint-down(lg) {
			min-height: 440px;
			max-height: 441px;
		}
		@include media-breakpoint-down(sm) {
			min-height: 320px;
			max-height: 321px;
			margin-top: $spacer * 2;
		}
		@include media-breakpoint-down(xs) {
			margin-top: $spacer * 1.5;
			min-height: auto;
			max-height: none;
			height: 36vh;
		}
		@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
			margin-top: 0;
			min-height: 260px;
			max-height: 270px;
		}
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
			min-height: 360px;
			max-height: 361px;
			margin-top: $spacer * 2;
		}
		.big-a {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 1280px;
			pointer-events: none;
			@include media-breakpoint-down(xl) {
				width: 1160px;
			}
			@include media-breakpoint-down(lg) {
				width: 1040px;
			}
			@include media-breakpoint-down(md) {
				width: 1080px;
			}
			@include media-breakpoint-down(sm) {
				width: 720px;
			}
			@include media-breakpoint-down(xs) {
				width: 480px;
				left: 25%;
			}
			@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
				width: 640px;
			}
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				width: 960px;
				top: -10%;
			}
			img {
				max-width: 85%;
				height: auto;
				@include media-breakpoint-down(xs) {
					max-width: 100%;
				}
			}
		}
		.balloon {
			position: absolute;
			z-index: 2;
			top: 8%;
			left: 18%;
			max-width: 50%;
			@include do-shake(
				$name: 'shake-balloon',
				$h: 20px,
				$v: 10px,
				$r: 0deg,
				$dur: 45000ms,
				$precision: 0.05,
				$opacity: false,
				$q: infinite,
				$t: ease-in-out,
				$delay: null,
				$chunk: 100%
			);
			@include media-breakpoint-down(xl) {
				top: 5%;
				left: 15%;
				max-width: 55%;
			}
			@include media-breakpoint-down(lg) {
				top: 0;
				left: 15%;
				max-width: 60%;
			}
			@include media-breakpoint-down(md) {
				top: 5%;
				left: 28%;
				max-width: 40%;
			}
			@include media-breakpoint-down(sm) {
				left: 20%;
				max-width: 70%;
			}
			@include media-breakpoint-down(xs) {
				left: 35%;
				max-width: 30%;
			}
			@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
				top: 5%;
				left: 15%;
				max-width: 50%;
			}
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				top: 0;
				left: 10%;
				max-width: 90%;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.people {
			position: absolute;
			z-index: 3;
			bottom: 0%;
			left: 50%;
			max-width: 22%;
			transform: translateX(-75%);
			pointer-events: none;
			@include media-breakpoint-down(xl) {
				left: 50%;
				max-width: 25%;
				transform: translateX(-50%);
			}
			@include media-breakpoint-down(lg) {
				max-width: 30%;
			}
			@include media-breakpoint-down(md) {
				left: 55%;
				bottom: 0;
				max-width: 22%;
			}
			@include media-breakpoint-down(sm) {
				left: 35%;
				max-width: 50%;
				transform: translateX(0);
			}
			@include media-breakpoint-down(xs) {
				left: 60%;
				bottom: 0;
				max-width: 20%;
				transform: translateX(-50%);
			}
			@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
				left: 50%;
				max-width: 30%;
			}
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				left: 50%;
				max-width: 50%;
				transform: none;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.splash-cloud {
			position: absolute;
			z-index: 2;
			pointer-events: none;
			&.cloud1 {
				width: 400px;
				top: 8%;
				left: 45.5%;
				@include media-breakpoint-down(xl) {
					left: 40%;
					width: 280px;
				}
				@include media-breakpoint-down(lg) {
					left: 40%;
				}
				@include media-breakpoint-down(md) {
					left: 50%;
				}
				@include media-breakpoint-down(xs) {
					width: 160px;
				}
				@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
					left: auto;
					right: 0;
					width: 140px;
					height: auto;
				}
				@include do-shake(
					$name: 'shake-floaty1',
					$h: 36px,
					$v: 14px,
					$r: 1deg,
					$dur: 70000ms,
					$precision: 0.05,
					$opacity: false,
					$q: infinite,
					$t: ease-in-out,
					$delay: null,
					$chunk: 100%
				);
			}
			&.cloud2 {
				width: 340px;
				top: 42.2%;
				left: 8.5%;
				@include media-breakpoint-down(xl) {
					left: 10%;
					top: 35%;
					width: 240px;
				}
				@include media-breakpoint-down(lg) {
					top: 35%;
					left: 0%;
				}
				@include media-breakpoint-down(md) {
					left: 20%;
				}
				@include media-breakpoint-down(xs) {
					width: 140px;
				}
				@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
					left: 0;
					top: 38%;
					width: 140px;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
					left: 0;
					top: 40%;
				}
				@include do-shake(
					$name: 'shake-floaty2',
					$h: 16px,
					$v: 8px,
					$r: 2deg,
					$dur: 50000ms,
					$precision: 0.04,
					$opacity: false,
					$q: infinite,
					$t: ease-in-out,
					$delay: null,
					$chunk: 100%
				);
			}
			&.cloud3 {
				width: 320px;
				top: 67%;
				left: 55.5%;
				@include media-breakpoint-down(xl) {
					top: 55%;
					left: 50%;
					width: 280px;
				}
				@include media-breakpoint-down(lg) {
					top: 60%;
					left: 55%;
				}
				@include media-breakpoint-down(md) {
					top: 60%;
					left: 55%;
				}
				@include media-breakpoint-down(xs) {
					width: 160px;
				}
				@media only screen and (min-device-width: 350px) and (max-device-width: 840px) and (orientation: landscape) {
					top: auto;
					left: 60%;
					bottom: 15%;
					width: 140px;
					height: auto;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
					top: 60%;
					left: 85%;
				}
				@include do-shake(
					$name: 'shake-floaty3',
					$h: 36px,
					$v: 6px,
					$r: 0deg,
					$dur: 80000ms,
					$precision: 0.1,
					$opacity: false,
					$q: infinite,
					$t: ease-in-out,
					$delay: null,
					$chunk: 100%
				);
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}
.scroll-down {
	height: $scrolldown-height;
	position: relative;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	@include media-breakpoint-down(xl) {
		height: calc(#{$scrolldown-height} - 20px);
	}
	@include media-breakpoint-down(sm) {
		height: 64px;
	}
	@media screen and(max-height: 480px) and (max-width: 1366px) {
		display: none;
	}
	.scroll-btn {
		font-size: $font-size-lg;
		padding: $spacer * 0.75 $spacer * 1.25;
		border-radius: 40px;
		transition: background 0.4s;
		@include media-breakpoint-down(xl) {
			font-size: $font-size-base;
		}
		@include media-breakpoint-down(sm) {
			padding: $spacer / 2 $spacer;
			height: $spacer * 2.5;
			font-size: $font-size-base;
			line-height: $spacer * 1.75;
		}
		&:hover {
			background: $white;
			+ .scroll-gradient {
				opacity: 0.4;
			}
		}
		span {
			display: inline-block;
			margin: 0 $spacer;
			@include media-breakpoint-down(sm) {
				margin: 0 $spacer * 0.25;
			}
		}
		.scroll-icon {
			width: 24px;
			height: 24px;
			fill: $primary;
			@include media-breakpoint-down(xl) {
				width: 20px;
				height: 20px;
			}
			@include media-breakpoint-down(sm) {
				width: 16px;
				height: 16px;
			}
		}
	}
	.scroll-gradient {
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		bottom: 0;
		height: 200%;
		pointer-events: none;
		background: linear-gradient(
			to bottom,
			hsla(196.13, 99.17%, 47.06%, 0) 0%,
			hsla(196.13, 99.17%, 47.06%, 0.008) 9.9%,
			hsla(196.13, 99.17%, 47.06%, 0.032) 19.4%,
			hsla(196.13, 99.17%, 47.06%, 0.07) 28.6%,
			hsla(196.13, 99.17%, 47.06%, 0.121) 37.5%,
			hsla(196.13, 99.17%, 47.06%, 0.181) 45.9%,
			hsla(196.13, 99.17%, 47.06%, 0.251) 53.9%,
			hsla(196.13, 99.17%, 47.06%, 0.328) 61.4%,
			hsla(196.13, 99.17%, 47.06%, 0.411) 68.4%,
			hsla(196.13, 99.17%, 47.06%, 0.497) 74.9%,
			hsla(196.13, 99.17%, 47.06%, 0.585) 80.7%,
			hsla(196.13, 99.17%, 47.06%, 0.674) 86%,
			hsla(196.13, 99.17%, 47.06%, 0.762) 90.6%,
			hsla(196.13, 99.17%, 47.06%, 0.846) 94.4%,
			hsla(196.13, 99.17%, 47.06%, 0.926) 97.6%,
			hsl(196.13, 99.17%, 47.06%) 100%
		);
		opacity: 0;
		transition: opacity 1s cubic-bezier(0.25, 1, 0.5, 1);
		@include media-breakpoint-down(sm) {
			height: 125%;
		}
	}
}


/* SERVICES SECTION */
.service-block {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: $spacer * 2;
	border-radius: 16px;
	box-shadow: 0 12px 24px transparentize($gray-600, 0.85);
	transition: box-shadow 0.4s;
	@include media-breakpoint-down(xl) {
		padding: $spacer * 1.5;
		box-shadow: 0 8px 16px transparentize($gray-600, 0.85);
	}
	@include media-breakpoint-down(sm) {
		padding: $spacer;
		padding-bottom: $spacer * 2;
		box-shadow: 0 6px 12px transparentize($gray-600, 0.85);
	}
	&:hover {
		box-shadow: 0 12px 24px transparentize($primary, 0.75);
		@include media-breakpoint-down(lg) {
			box-shadow: 0 8px 16px transparentize($primary, 0.75);
		}
		@include media-breakpoint-down(sm) {
			box-shadow: 0 6px 12px transparentize($primary, 0.75);
		}
	}
	&.service-dark {
		background: $gray-900;
		.service-title {
			color: $white;
		}
	}
	.service-icon {
		margin-bottom: $spacer * 2;
		width: 80px;
		@include media-breakpoint-down(xl) {
			margin-bottom: $spacer * 1.5;
			width: 64px;
		}
		@include media-breakpoint-down(lg) {
			margin-bottom: $spacer * 1.25;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: $spacer * 1.25;
		}
		img {
			max-width: 100%;
			height: auto;
			@include border-radius;
		}
	}
	.service-title {
		margin-bottom: $spacer * 0.75;
		@include media-breakpoint-down(xl) {
			font-size: $h5-font-size * 0.85;
		}
		@include media-breakpoint-down(lg) {
			margin-bottom: $spacer * 0.5;
		}
	}
	.service-content {
		margin-bottom: $spacer * 2;
		line-height: 1.25;
		@include media-breakpoint-down(xl) {
			margin-bottom: $spacer;
			font-size: $font-size-sm * 1.1;
		}
		@include media-breakpoint-down(lg) {
			margin-bottom: $spacer * 0.75;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: $spacer * 1.25;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: $spacer * 0.75;
		}
	}
	.service-links {
		margin-bottom: $spacer * 0.75;
		@include media-breakpoint-down(xl) {
			font-size: $h6-font-size * 0.85;
			margin-bottom: $spacer * 0.5;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: $spacer * 0.3;
		}
		&:last-of-type {
			margin-bottom: $spacer * 2;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer * 1.25;
			}
			@include media-breakpoint-down(lg) {
				margin-bottom: $spacer;
			}
			@include media-breakpoint-down(md) {
				margin-bottom: $spacer * 0.75;
			}
		}
		a {
			color: $headings-color;
			display: inline-block;
			position: relative;
			z-index: 1;
			&:before {
				content: '';
				position: absolute;
				top: -6px;
				left: -8px;
				bottom: -4px;
				z-index: -1;
				width: 0;
				pointer-events: none;
				transition: all 0.4s;
			}
			&:hover,
			&:focus {
				&:before {
					width: 50%;
					background: transparentize($gray-200, 0.25);
				}
				.icon {
					animation: servicelinkshover 0.4s forwards;
					animation-delay: 0.3s;
				}
			}
			.icon {
				width: 24px;
				height: 24px;
				position: relative;
				left: $spacer * 0.75;
				fill: $primary;
				@include media-breakpoint-down(xl) {
					width: 20px;
					height: 20px;
				}
			}
			@keyframes servicelinkshover {
				0% {
					left: $spacer * 0.75;
				}
				25% {
					left: $spacer * 0.4;
				}
				50% {
					left: $spacer * 0.75;
				}
				75% {
					left: $spacer * 0.4;
				}
				100% {
					left: $spacer * 0.75;
				}
			}
		}
	}
	.service-btn {
		margin-top: auto;
	}
}


/* PRODUCTS SECTION */
.product-block {
	display: block;
	position: relative;
	z-index: 1;
	padding-top: 100%;
	&:hover,
	&:focus {
		.product-caption {
			left: $spacer * 1.25;
			right: $spacer * 1.25;
			bottom: $spacer * 1.25;
			padding: $spacer * 1.5 $spacer * 4;
			background: $white;
			@include media-breakpoint-down(xl) {
				left: $spacer;
				right: $spacer;
				bottom: $spacer;
				padding: $spacer * 1.75 $spacer * 3;
			}
			@include media-breakpoint-down(md) {
				left: $spacer * 0.75;
				right: $spacer * 0.75;
				bottom: $spacer * 0.75;
				padding: $spacer * 1.5 $spacer * 2;
			}
		}
		.product-img {
			img {
				transform: scale(1.05, 1.05);
				opacity: 0.75;
			}
		}
	}
	.product-img {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: $primary;
		img {
			transition: all 0.3s ease-in-out;
		}
	}
	.product-caption {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		bottom: $spacer * 1.5;
		left: $spacer * 1.5;
		right: $spacer * 1.5;
		padding: $spacer * 1.25 $spacer * 1.5;
		background: $white;
		transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
		@include media-breakpoint-down(md) {
			bottom: $spacer;
			left: $spacer;
			right: $spacer;
		}
		.product-title {
			margin-bottom: 0;
		}
		.arrow {
			width: 24px;
			height: 24px;
			fill: $primary;
		}
	}
}
.product-hoverfx {
	position: relative;
	z-index: 2;
	&:hover {
		+ .product-hover-bg {
			opacity: 0.2;
		}
	}
	+ .product-hover-bg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		overflow: hidden;
		opacity: 0;
		transition: all 0.15s;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}


/* REVIEWS SECTION */
.reviews-block {
	.review-panel {
		display: flex;
		flex-direction: column;
		align-items: center;
		.img-holder {
			margin-bottom: $spacer * 3;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer * 2;
			}
			@include media-breakpoint-down(md) {
				margin-bottom: $spacer * 1.25;
			}
			img {
				width: 144px;
				height: 144px;
				border-radius: 50%;
				@include media-breakpoint-down(sm) {
					width: 80px;
					height: 80px;
				}
			}
		}
		.reviewer-name {
			margin-bottom: $spacer / 2;
			@include media-breakpoint-down(md) {
				margin-bottom: 0;
			}
		}
		.reviewer-company {
			font-size: $font-size-lg;
			line-height: 1;
			color: $primary;
			margin-bottom: 0;
			@include media-breakpoint-down(lg) {
				font-size: $font-size-base;
			}
			@include media-breakpoint-down(sm) {
				font-size: $font-size-sm;
			}
		}
		.review-content {
			position: relative;
			z-index: 1;
			max-width: 50%;
			margin-top: $spacer * 1.5;
			text-align: center;
			@include media-breakpoint-down(xl) {
				margin-top: $spacer * 0.5;
			}
			@include media-breakpoint-down(lg) {
				margin-top: $spacer * 1.25;
				max-width: 75%;
				padding: 0 calc(90px + #{$spacer * 2});
			}
			@include media-breakpoint-down(md) {
				max-width: none;
				margin-top: $spacer;
			}
			@include media-breakpoint-down(sm) {
				padding: 0;
			}
			&:before,
			&:after {
				content: '';
				position: absolute;
				z-index: -1;
				width: 90px;
				height: 72px;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				@include media-breakpoint-down(xl) {
					width: 72px;
					height: 58px;
				}
				@include media-breakpoint-down(md) {
					display: none;
				}
			}
			&:before {
				left: calc(-90px - #{$spacer * 2});
				top: 0;
				background-image: url(../images/quote-left.svg);
				@include media-breakpoint-down(lg) {
					left: 0;
				}
			}
			&:after {
				right: calc(-90px - #{$spacer * 2});
				bottom: 0;
				background-image: url(../images/quote-right.svg);
				@include media-breakpoint-down(lg) {
					right: 0;
				}
			}
		}
	}
}
.glide__arrows {
	text-align: center;
	margin-top: $spacer;
	@include media-breakpoint-down(xl) {
		margin-top: $spacer * 0.5;
	}
	button {
		background: none;
		border: none;
		padding: $spacer $spacer * 1.25;
		@include media-breakpoint-down(xl) {
			padding: $spacer * 0.85 $spacer;
		}
		.review-icon {
			width: 24px;
			height: 24px;
			fill: $primary;
		}
	}
}


/* CONTACT FORM */
.big-a-reflection {
	position: relative;
	height: 100%;
	pointer-events: none;
	@include media-breakpoint-down(md) {
		display: none;
	}
	img {
		position: absolute;
		right: -11.25%;
		top: 0;
	}
}
.contact-form {
	#datepicker {
		background: $white url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3e%3cpath fill='%23A4ABCA' d='M9.5 6.5h-3v3h3V6.5zM8.5 0v1h-5V0H2v1H1.3C0.6 1 0 1.6 0 2.3v8.5C0 11.4 0.6 12 1.3 12h9.5c0.7 0 1.3-0.6 1.3-1.2v-8.5C12 1.6 11.4 1 10.8 1H10V0H8.5zM10.8 10.8h-9.5V4.1h9.5V10.8z'/%3e%3c/svg%3e") no-repeat right 0.875rem center/12px 12px;
	}
	.btn {
		+ .btn {
			margin-left: $spacer * 2;
			@include media-breakpoint-down(md) {
				margin-left: $spacer * 1.25;
			}
			@include media-breakpoint-down(sm) {
				margin-left: $spacer * 0.75;
			}
		}
		.btn-icon {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}
}


/* SOCIALS */
.social-section {
	.social-subtitle {
		color: $primary;
		margin-bottom: $spacer * 0.75;
	}
	.social-btns {
		display: flex;
		justify-content: space-between;
		@include media-breakpoint-down(lg) {
			display: grid;
			grid-template-columns: calc(50% - #{$spacer / 2}) calc(50% - #{$spacer / 2});
			grid-template-rows: calc(50% - #{$spacer / 2}) calc(50% - #{$spacer / 2});
			column-gap: $spacer;
			row-gap: $spacer;
		}
		@include media-breakpoint-down(xs) {
			display: flex;
			flex-direction: column;
		}
		.btn {
			transition: all 0.4s;
			+ .btn {
				@include media-breakpoint-down(xs) {
					margin-top: $spacer;
				}
			}
			&:hover {
				transform: translateY(-4px);
			}
			&.facebook {
				background-color: #1778F2;
				border-color: #1778F2;
				box-shadow: 0 12px 24px transparentize(#1778F2, 0.65);
				@include media-breakpoint-down(md) {
					box-shadow: 0 8px 16px transparentize(#1778F2, 0.65);
				}
				&:hover {
					box-shadow: 0 18px 28px -10px transparentize(#1778F2, 0.3);
					@include media-breakpoint-down(md) {
						box-shadow: 0 8px 16px -4px transparentize(#1778F2, 0.3);
					}
				}
				&:focus {
					box-shadow: 0 0 0 0.2rem transparentize(#1778F2, 0.5);
				}
			}
			&.twitter {
				background-color: #1DA1F2;
				border-color: #1DA1F2;
				box-shadow: 0 12px 24px transparentize(#1DA1F2, 0.65);
				@include media-breakpoint-down(md) {
					box-shadow: 0 8px 16px transparentize(#1DA1F2, 0.65);
				}
				&:hover {
					box-shadow: 0 18px 28px -10px transparentize(#1DA1F2, 0.3);
					@include media-breakpoint-down(md) {
						box-shadow: 0 8px 16px -4px transparentize(#1DA1F2, 0.3);
					}
				}
				&:focus {
					box-shadow: 0 0 0 0.2rem transparentize(#1DA1F2, 0.5);
				}
			}
			&.instagram {
				background-color: #C13584;
				border-color: #C13584;
				box-shadow: 0 12px 24px transparentize(#C13584, 0.65);
				@include media-breakpoint-down(md) {
					box-shadow: 0 8px 16px transparentize(#C13584, 0.65);
				}
				&:hover {
					box-shadow: 0 18px 28px -10px transparentize(#C13584, 0.3);
					@include media-breakpoint-down(md) {
						box-shadow: 0 8px 16px -4px transparentize(#C13584, 0.3);
					}
				}
				&:focus {
					box-shadow: 0 0 0 0.2rem transparentize(#C13584, 0.5);
				}
			}
			&.linkedin {
				background-color: #2867B2;
				border-color: #2867B2;
				box-shadow: 0 12px 24px transparentize(#2867B2, 0.65);
				@include media-breakpoint-down(md) {
					box-shadow: 0 8px 16px transparentize(#2867B2, 0.65);
				}
				&:hover {
					box-shadow: 0 18px 28px -10px transparentize(#2867B2, 0.3);
					@include media-breakpoint-down(md) {
						box-shadow: 0 8px 16px -4px transparentize(#2867B2, 0.3);
					}
				}
				&:focus {
					box-shadow: 0 0 0 0.2rem transparentize(#2867B2, 0.5);
				}
			}
		}
	}
	.social-address {
		margin-bottom: $spacer * 1.5;
		@include media-breakpoint-down(lg) {
			font-size: $font-size-sm;
		}
		p {
			margin: 0;
			@include media-breakpoint-down(sm) {
				line-height: 1.25;
			}
			+ p {
				@include media-breakpoint-down(sm) {
					margin-top: $spacer * 0.75;
				}
			}
		}
		.prefix,
		.suffix {
			display: inline-block;
			@include media-breakpoint-down(sm) {
				display: block;
			}
		}
		.prefix {
			min-width: 80px;
			color: $gray-500;
		}
	}
	.social-direct {
		.btn {
			vertical-align: top;
			transition: all 0.4s;
			@include media-breakpoint-down(md) {
				display: block;
			}
			+ .btn {
				margin-left: $spacer * 1.5;
				@include media-breakpoint-down(lg) {
					margin-left: $spacer / 2;
				}
				@include media-breakpoint-down(md) {
					margin: $spacer 0 0;
				}
			}
			&:hover {
				transform: translateY(-4px);
			}
			&.whatsapp {
				background-color: #25D366;
				border-color: #25D366;
				box-shadow: 0 12px 24px transparentize(#25D366, 0.65);
				&:hover {
					box-shadow: 0 16px 24px -8px transparentize(#25D366, 0.3);
				}
				&:focus {
					box-shadow: 0 0 0 0.2rem transparentize(#25D366, 0.5);
				}
			}
			&.viber {
				background-color: #8F5DB7;
				border-color: #8F5DB7;
				box-shadow: 0 12px 24px transparentize(#8F5DB7, 0.65);
				&:hover {
					box-shadow: 0 16px 24px -8px transparentize(#8F5DB7, 0.3);
				}
				&:focus {
					box-shadow: 0 0 0 0.2rem transparentize(#8F5DB7, 0.5);
				}
			}
			&.messenger {
				background-color: #0084FF;
				border-color: #0084FF;
				box-shadow: 0 12px 24px transparentize(#0084FF, 0.65);
				&:hover {
					box-shadow: 0 16px 24px -8px transparentize(#0084FF, 0.3);
				}
				&:focus {
					box-shadow: 0 0 0 0.2rem transparentize(#0084FF, 0.5);
				}
			}
		}
	}
}


/* FOOTER */
#footer {
	background: $white;
	padding: $spacer * 4.5 0;
	font-size: $font-size-sm;
	@include media-breakpoint-down(xl) {
		padding: $spacer * 3.5 0;
	}
	@include media-breakpoint-down(lg) {
		padding: $spacer * 3 0;
	}
	@include media-breakpoint-down(md) {
		padding: $spacer * 2.5 0;
	}
	@include media-breakpoint-down(sm) {
		padding: $spacer * 2 0;
	}
	.footer-legal {
		@include media-breakpoint-down(md) {
			text-align: center;
			margin-bottom: $spacer * 3;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 0;
		}
		.footer-logo {
			margin-bottom: $spacer * 2;
			@include media-breakpoint-down(md) {
				text-align: center;
				vertical-align: top;
				margin-bottom: $spacer;
			}
		}
	}
	.footer-links-title {
		margin-bottom: $spacer * 2;
		@include media-breakpoint-down(md) {
			margin-bottom: $spacer * 1.5;
		}
	}
	.footer-links {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 1;
		li {
			+ li {
				margin-top: $spacer;
				@include media-breakpoint-down(md) {
					margin-top: $spacer 0.75;
				}
			}
		}
	}
}


/* SERVICE PAGE */
.service-list {
	padding-bottom: $spacer * 3;
	@include media-breakpoint-down(xl) {
		padding-bottom: $spacer * 2.25;
	}
	@include media-breakpoint-down(lg) {
		padding-bottom: $spacer * 2;
	}
	@include media-breakpoint-down(md) {
		padding-bottom: 0;
		justify-content: center;
	}
	&:nth-child(2n) {
		flex-direction: row-reverse;
		@include media-breakpoint-down(md) {
			flex-direction: row;
		}
		.service-list-content {
			&:before {
				right: -25%;
				left: 0;
				@include media-breakpoint-down(md) {
					right: 0;
				}
			}
		}
	}
	+ .service-list {
		margin-top: $spacer * 6;
		@include media-breakpoint-down(xl) {
			margin-top: $spacer * 5.5;
		}
		@include media-breakpoint-down(lg) {
			margin-top: $spacer * 5;
		}
		@include media-breakpoint-down(md) {
			margin-top: $spacer * 4;
		}
		@include media-breakpoint-down(sm) {
			margin-top: $spacer * 3;
		}
	}
	.img-holder {
		position: relative;
		z-index: 2;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.service-list-content {
		position: relative;
		z-index: 1;
		padding-bottom: $spacer * 6;
		padding: $spacer * 3;
		height: 100%;
		transform: translateY($spacer * 3);
		@include media-breakpoint-down(xl) {
			padding: $spacer * 2.5;
			padding-bottom: $spacer * 5;
			transform: translateY($spacer * 2.5);
		}
		@include media-breakpoint-down(lg) {
			padding: $spacer * 2;
			transform: translateY($spacer * 2);
		}
		@include media-breakpoint-down(md) {
			transform: none;
		}
		@include media-breakpoint-down(sm) {
			padding: $spacer * 1.5;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: -25%;
			z-index: -1;
			background: $gray-100;
			@include media-breakpoint-down(md) {
				left: 0;
				top: -($spacer * 3);
			}
			@include media-breakpoint-down(sm) {
				top: 0;
			}
		}
		.service-list-heading {
			margin-bottom: $spacer * 1.75;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer * 1.25;
			}
			@include media-breakpoint-down(lg) {
				margin-bottom: $spacer;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: $spacer * 0.75;
			}
		}
		.service-list-text {
			margin-bottom: $spacer * 2;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer * 1.5;
			}
			@include media-breakpoint-down(lg) {
				margin-bottom: $spacer;
			}
		}
		.btn-primary {
			.btn-icon {
				width: 16px;
				height: 16px;
			}
		}
	}
}


/* TEMPORARY CSS */
.play-button {
	position: relative;
	z-index: 1;
	overflow: hidden;
	background: $gray-900;
	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 2;
		transform: translate(-50%, -50%);
	}
	&:before {
		width: 144px;
		height: 144px;
		border: 4px solid $white;
		border-radius: 50%;
		@include media-breakpoint-down(sm) {
			width: 72px;
			height: 72px;
		}
	}
	&:after {
		clip-path: polygon(20% 0, 20% 100%, 100% 50%);
		width: 48px;
		height: 48px;
		background: $white;
		@include media-breakpoint-down(sm) {
			width: 32px;
			height: 32px;
		}
	}
	&:hover {
		img {
			opacity: 0.5;
			transform: scale(1.05, 1.05);
		}
	}
	img {
		opacity: 0.8;
		transition: all 0.75s;
	}
}


.sm-card {
	position: relative;
	background: $white;
	color: $body-color;
	padding: $spacer * 1.5 $spacer * 1.75;
	border-radius: $border-radius-sm;
	box-shadow: 0 6px 12px -4px transparentize($gray-900, 0.85);
	transition: transform 0.2s, box-shadow 0.5s;
	@include media-breakpoint-down(md) {
		margin-top: $spacer * 2;
	}
	&:hover,
	&:focus {
		transform: translateY(-5px);
		box-shadow: 0 10px 18px transparentize($gray-900, 0.9);
	}
	+ .sm-card {
		margin-top: $spacer * 2.5;
		@include media-breakpoint-down(lg) {
			margin-top: 0;
			margin-left: $spacer * 2;
		}
		@include media-breakpoint-down(md) {
			margin-left: 0;
			margin-top: $spacer * 2;
		}
	}
	.sm-card-title {
		margin-bottom: $spacer * 0.2;
	}
	.sm-card-subtitle {
		line-height: 1;
		margin-bottom: 0;
	}
	.sm-card-content {
		margin: $spacer * 1.5 0;
		line-height: 1.25;
	}
	.sm-card-footer {
		font-size: $font-size-sm;
		line-height: 1;
	}
}




