@import 'bootstrap';

.splash-inner {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 0;
	padding-top: $spacer * 7;
	height: 80vh;
	@include media-breakpoint-down(lg) {
		height: 75vh;
		padding-top: $spacer * 6;
	}
	@include media-breakpoint-down(md) {
		height: 70vh;
		padding-top: $spacer * 5;
	}
	@include media-breakpoint-down(sm) {
		height: 100vh;
		padding-top: $spacer * 4;
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 25%;
		background: linear-gradient(to bottom,
			hsla(224.12, 33.33%, 20%, 0) 0%,
			hsla(224.12, 33.33%, 20%, 0) 11.5%,
			hsla(224.12, 33.33%, 20%, 0.002) 22.4%,
			hsla(224.12, 33.33%, 20%, 0.003) 32.6%,
			hsla(224.12, 33.33%, 20%, 0.006) 42.1%,
			hsla(224.12, 33.33%, 20%, 0.009) 51%,
			hsla(224.12, 33.33%, 20%, 0.012) 59.2%,
			hsla(224.12, 33.33%, 20%, 0.016) 66.8%,
			hsla(224.12, 33.33%, 20%, 0.02) 73.6%,
			hsla(224.12, 33.33%, 20%, 0.024) 79.6%,
			hsla(224.12, 33.33%, 20%, 0.029) 85%,
			hsla(224.12, 33.33%, 20%, 0.033) 89.5%,
			hsla(224.12, 33.33%, 20%, 0.038) 93.3%,
			hsla(224.12, 33.33%, 20%, 0.042) 96.4%,
			hsla(224.12, 33.33%, 20%, 0.046) 98.6%,
			hsla(224.12, 33.33%, 20%, 0.05) 100%
		);
	}
}


/* ANALOGUE CARD */
.ai-card {
	display: flex;
	flex-direction: column;
	padding: $spacer * 2;
	border-radius: $border-radius;
	background: $white;
	box-shadow: 0 12px 24px transparentize($gray-600, 0.85);
	transition: all 0.4s;
	@include media-breakpoint-down(lg) {
		padding: $spacer * 1.5;
		box-shadow: 0 8px 16px transparentize($gray-600, 0.85);
	}
	@include media-breakpoint-down(sm) {
		box-shadow: 0 6px 12px transparentize($gray-600, 0.85);
	}
	&.ai-card-sm {
		padding: $spacer * 1.25;
		&.has-thumbnails {
			position: relative;
			padding: 0 !important;
			.img-holder {
				overflow: hidden;
				border-radius: $border-radius;
			}
			.lightbox-link {
				padding: $spacer * 0.6;
			}
		}
	}
	&:hover {
		box-shadow: 0 12px 24px transparentize($primary, 0.75);
		@include media-breakpoint-down(lg) {
			box-shadow: 0 8px 16px transparentize($primary, 0.75);
		}
		@include media-breakpoint-down(sm) {
			box-shadow: 0 6px 12px transparentize($primary, 0.75);
		}
	}
	&.ai-card-dark {
		background: $gray-900;
		border: 2px solid $gray-600;
		box-shadow: 0 12px 24px transparentize($black, 0.85);
		@include media-breakpoint-down(lg) {
			box-shadow: 0 8px 16px transparentize($black, 0.85);
		}
		@include media-breakpoint-down(sm) {
			box-shadow: 0 6px 12px transparentize($black, 0.85);
		}
		.ai-card-title,
		.ai-card-cnt-title {
			color: $white;
		}
	}
	&.ai-card-h {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: flex-start;
		}
		+ .ai-card-h {
			margin-top: $spacer * 2;
		}
		.ai-card-title-holder {
			margin-bottom: 0;
			@include media-breakpoint-down(sm) {
				margin-bottom: $spacer;
			}
		}
	}
	&.has-hover {
		&:hover {
			transform: translateY(-4px);
			box-shadow: 0 12px 24px transparentize($primary, 0.75);
			@include media-breakpoint-down(lg) {
				box-shadow: 0 8px 16px transparentize($primary, 0.75);
			}
			@include media-breakpoint-down(sm) {
				box-shadow: 0 6px 12px transparentize($primary, 0.75);
			}
		}
	}
	&.ai-card-news {
		.ai-card-content {
			display: flex;
			justify-content: space-between;
			margin-bottom: $spacer;
			.ai-card-title-holder {
				margin-bottom: 0;
			}
			.img-holder {
				width: 100%;
				max-width: 120px;
				margin-left: $spacer;
			}
		}
		.ai-card-footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: $font-size-sm;
			.btn {
				.btn-icon {
					width: 16px;
					height: 16px;
				}
			}
		}
	}
	.ai-card-title-holder {
		margin-bottom: $spacer * 1.5;
		@include media-breakpoint-down(lg) {
			margin-bottom: $spacer * 1.25;
		}
		.ai-card-title {
			margin-bottom: $spacer / 2;
		}
		.ai-card-subtitle {
			line-height: 1;
		}
		.ai-card-subtitle-primary {
			color: $primary;
			line-height: 1;
			.ai-card-subtitle-gray {
				color: $gray-400;
			}
		}
	}
}
.ai-card-v2 {
	padding: $spacer * 1.5;
	border-radius: $border-radius;
	box-shadow: 0 12px 24px transparentize($gray-600, 0.85);
	@include media-breakpoint-down(lg) {
		padding: $spacer * 1.25;
	}
	@include media-breakpoint-down(md) {
		padding: $spacer;
	}
	.ai-card-v2-header {
		display: flex;
		@include media-breakpoint-down(lg) {
			flex-direction: column-reverse;
		}
		@include media-breakpoint-down(md) {
			flex-direction: row;
		}
		.img-holder {
			width: 80px;
			margin-left: $spacer;
			@include media-breakpoint-down(lg) {
				width: 100%;
				margin-left: 0;
				margin-bottom: $spacer * 1.25;
			}
			@include media-breakpoint-down(lg) {
				width: 64px;
				margin-left: $spacer * 0.75;
			}
		}
		.ai-card-v2-content {
			flex: 1;
			.ai-card-v2-title {}
			.ai-card-v2-subtitle {
				font-size: $font-size-sm * 1.125;
				line-height: 1.125;
			}
		}
	}
	.ai-card-v2-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: $spacer;
		@include media-breakpoint-down(lg) {
			flex-direction: column-reverse;
		}
		@include media-breakpoint-down(md) {
			flex-direction: row;
		}
		.ai-card-v2-poster {
			font-size: $font-size-sm;
		}
	}
}


/* BRANDING/MARKETING PAGE */
#ai-s-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	padding: $spacer * 0.75 $spacer * 2.5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background 0.4s;
	@include media-breakpoint-down(md) {
		padding: $spacer * 0.75 $spacer;
	}
	@include media-breakpoint-down(sm) {
		align-items: center;
		flex-direction: column;
		padding: $spacer * 0.75;
	}
	@include media-breakpoint-down(xs) {
		padding-bottom: 0;
	}
	&.sticky-header {
		box-shadow: 0 2px 8px transparentize($black, 0.8);
		padding: $spacer * 0.5 $spacer * 1.5;
		background: $white;
		&:before {
			opacity: 0;
			pointer-events: none;
		}
		.ai-s-mainnav {
			a {
				padding: $spacer * 0.4 $spacer * 1.25;
				line-height: 1;
				@include media-breakpoint-down(sm) {
					padding: $spacer * 0.75 $spacer * 0.5;
				}
			}
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		height: 200%;
		transition: opacity 0.4s;
		background: linear-gradient(
			to bottom,
			hsl(0, 0%, 100%) 0%,
			hsla(0, 0%, 100%, 0.987) 4.9%,
			hsla(0, 0%, 100%, 0.951) 9.6%,
			hsla(0, 0%, 100%, 0.896) 14.2%,
			hsla(0, 0%, 100%, 0.825) 18.9%,
			hsla(0, 0%, 100%, 0.741) 23.7%,
			hsla(0, 0%, 100%, 0.648) 28.7%,
			hsla(0, 0%, 100%, 0.55) 34.1%,
			hsla(0, 0%, 100%, 0.45) 39.8%,
			hsla(0, 0%, 100%, 0.352) 46.1%,
			hsla(0, 0%, 100%, 0.259) 53%,
			hsla(0, 0%, 100%, 0.175) 60.6%,
			hsla(0, 0%, 100%, 0.104) 69%,
			hsla(0, 0%, 100%, 0.049) 78.3%,
			hsla(0, 0%, 100%, 0.013) 88.6%,
			hsla(0, 0%, 100%, 0) 100%
		);
		@include media-breakpoint-down(sm) {
			background: linear-gradient(to bottom, $white, transparentize($white, 0.25));
			height: 100%;
		}
	}
	.ai-s-logo {
		@include media-breakpoint-down(sm) {
			margin-bottom: $spacer;
		}
		a {
			display: block;
		}
		img {
			max-height: 48px;
			width: auto;
			@include media-breakpoint-down(md) {
				max-height: 38px;
			}
		}
	}
	.ai-s-mainnav {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			@include media-breakpoint-down(sm) {
				flex-wrap: wrap;
				justify-content: center;
				line-height: 1;
			}
		}
		li {
		}
		a {
			display: block;
			padding: $spacer $spacer * 1.5;
			color: darken($primary, 40%);
			transition: all 0.2s;
			@include media-breakpoint-down(md) {
				padding: $spacer * 0.75 $spacer * 0.8;
			}
			@include media-breakpoint-down(sm) {
				padding: $spacer * 0.6 $spacer * 0.7;
			}
			@include media-breakpoint-down(xs) {
				padding: $spacer * 0.5;
			}
			&:hover {
				color: darken($primary, 40%);
			}
		}
	}
}
.ai-s-slider {
	height: 100vh;
	@include media-breakpoint-down(lg) {
		height: auto;
	}
	.ai-s-slider-parallax {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 200%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.swiper-slide {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: $spacer * 8 $spacer * 10 $spacer * 3;
		@include media-breakpoint-down(xxl) {
			padding: $spacer * 7 $spacer * 8 $spacer * 3;
		}
		@include media-breakpoint-down(xl) {
			padding-left: $spacer * 6;
			padding-right: $spacer * 6;
		}
		@include media-breakpoint-down(lg) {
			// padding-top: $spacer * 2.25;
		}
		@include media-breakpoint-down(md) {
			padding-left: $spacer * 4.5;
			padding-right: $spacer * 4.5;
			justify-content: center;
		}
		@include media-breakpoint-down(xs) {
			padding: $spacer * 11 $spacer * 1.5 $spacer * 3;
		}
		&.swiper-slide-prev {
			.ai-s-slider--caption-mega-stroke {
				@include media-breakpoint-down(md) {
					opacity: 0;
				}
			}
		}
		.ai-s-slider--caption-mega-stroke {
			-moz-text-fill-color: transparent;
			-webkit-text-fill-color: transparent;
			-moz-text-stroke-color: darken($primary, 35%);
			-webkit-text-stroke-color: darken($primary, 35%);
			-moz-text-stroke-width: 5px;
			-webkit-text-stroke-width: 5px;
			text-transform: capitalize;
			font-size: $font-size-base * 9.6;
			line-height: 0.75;
			@include media-breakpoint-down(xxl) {
				font-size: $font-size-sm * 10;
			}
			@include media-breakpoint-down(xl) {
				font-size: $font-size-sm * 8;
				font-weight: $font-weight-bold;
				-moz-text-stroke-width: 4px;
				-webkit-text-stroke-width: 4px;
			}
			@include media-breakpoint-down(md) {
				font-size: $font-size-sm * 7;
				line-height: 0.8;
				text-align: center;
			}
			@include media-breakpoint-down(sm) {
				font-size: $font-size-sm * 4.5;
				-moz-text-stroke-width: 3px;
				-webkit-text-stroke-width: 3px;
			}
			@include media-breakpoint-down(xs) {
				font-size: $font-size-sm * 3.5;
				line-height: 0.85;
				-moz-text-stroke-width: 2.5px;
				-webkit-text-stroke-width: 2.5px;
			}
		}
		.ai-s-slider--caption-bottom {
			display: flex;
			margin-top: $spacer * 2.5;
			position: relative;
			@include media-breakpoint-down(xl) {
				margin-top: $spacer * 2;
			}
			@include media-breakpoint-down(lg) {
				margin-top: $spacer * 1.5;
			}
			@include media-breakpoint-down(md) {
				position: relative;
				margin-top: $spacer * 3;
			}
			@include media-breakpoint-down(xs) {
				position: relative;
				margin-top: $spacer * 2;
			}
		}
		.ai-s-slider--caption-regular {
			font-size: $font-size-base * 1.6;
			line-height: 1.25;
			color: darken($primary, 25%);
			max-width: 50%;
			@include media-breakpoint-down(xxl) {
				font-size: $font-size-sm * 1.75;
			}
			@include media-breakpoint-down(xl) {
				font-size: $font-size-sm * 1.5;
			}
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
		.ai-s-slider--img1 {
			position: absolute;
			bottom: 0;
			right: 0;
			max-width: 30vw;
			@include media-breakpoint-down(md) {
				position: relative;
				max-width: 50%;
				margin-left: $spacer * 2;
			}
			@include media-breakpoint-down(sm) {
				max-width: 60%;
				margin: 0 auto;
			}
			@include media-breakpoint-down(xs) {
				max-width: 80%;
				margin: 0 auto;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&.ai-s-slider-slide2 {
			align-items: center;
			justify-content: center;
			@include media-breakpoint-down(lg) {
				flex-direction: row;
			}
			@include media-breakpoint-down(md) {
				flex-direction: column-reverse;
			}
			@include media-breakpoint-down(xs) {
				padding-top: $spacer * 3.5;
			}
			.ai-s-slider-images {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				margin-right: $spacer * 12;
				padding: $spacer * 2 0;
				@include media-breakpoint-down(lg) {
					padding: 0;
					margin-right: $spacer * 2;
				}
				@include media-breakpoint-down(md) {
					height: 60%;
					margin-right: 0;
					padding: $spacer 0;
				}
				@include media-breakpoint-down(sm) {
					height: auto;
					padding: 0;
				}
			}
			.ai-s-slider--img1 {
				max-width: 65%;
				position: relative;
				bottom: auto;
				right: auto;
				margin-left: 0;
				@include media-breakpoint-down(xl) {
					max-width: 45%;
				}
				@include media-breakpoint-down(lg) {
					max-width: none;
				}
				@include media-breakpoint-down(sm) {
					max-width: none;
				}
				img {
					@include media-breakpoint-down(lg) {
						max-width: 240px;
					}
					@include media-breakpoint-down(xs) {
						max-width: 200px;
					}
				}
			}
			.ai-s-slider--img2 {
				position: relative;
				z-index: 2;
				max-height: 45vh;
				max-width: 65%;
				text-align: center;
				margin-bottom: $spacer * 2;
				@include media-breakpoint-down(xxl) {
					max-width: none;
					max-height: none;
				}
				@include media-breakpoint-down(xl) {
					max-height: none;
				}
				@include media-breakpoint-down(md) {
					max-height: 50%;
				}
				@include media-breakpoint-down(xs) {
					margin-bottom: $spacer;
				}
				img {
					max-height: 360px;
					height: 100%;
					width: auto;
					display: inline-block;
					@include media-breakpoint-down(xxxl) {
						max-height: 300px;
					}
					@include media-breakpoint-down(xxl) {
						max-height: 240px;
					}
					@include media-breakpoint-down(lg) {
						max-height: 200px;
					}
					@include media-breakpoint-down(xs) {
						max-height: 140px;
					}
				}
			}
			.ai-s-slider--caption-large {
				position: absolute;
				left: 50%;
				top: $spacer * 14;
				margin-left: $spacer * 9;
				color: darken($primary, 30%);
				font-size: $font-size-base * 4;
				font-weight: 700;
				line-height: 1;
				@include media-breakpoint-down(lg) {
					position: relative;
					left: auto;
					top: auto;
					width: auto;
					margin-left: 0;
					font-size: $font-size-sm * 4.25;
				}
				@include media-breakpoint-down(md) {
					font-size: $font-size-sm * 3.25;
					text-align: center;
					margin-bottom: $spacer * 2;
					width: auto;
				}
				@include media-breakpoint-down(xs) {
					font-size: $font-size-sm * 2.5;
				}
				p {
					margin-bottom: 0;
					transition: all 0.75s;
					opacity: 0;
					line-height: 0.85;
					-moz-text-fill-color: transparent;
					-webkit-text-fill-color: transparent;
					-moz-text-stroke-color: darken($primary, 30%);
					-webkit-text-stroke-color: darken($primary, 30%);
					-moz-text-stroke-width: 2px;
					-webkit-text-stroke-width: 2px;
					@include media-breakpoint-down(xs) {
						-moz-text-stroke-width: 1.5px;
						-webkit-text-stroke-width: 1.5px;
					}
					&:nth-child(1) {
						transition-delay: 1s;
						transform: translateY($spacer * 2);
					}
					&:nth-child(2) {
						font-size: $font-size-base * 5;
						transition-delay: 1.5s;
						transform: translateY($spacer * 2);
						-moz-text-fill-color: darken($primary, 30%);
						-webkit-text-fill-color: darken($primary, 30%);
						-moz-text-stroke-color: transparent;
						-webkit-text-stroke-color: transparent;
						-moz-text-stroke-width: 0;
						-webkit-text-stroke-width: 0;
						@include media-breakpoint-down(lg) {
							font-size: $font-size-sm * 5.25;
						}
						@include media-breakpoint-down(md) {
							font-size: $font-size-sm * 4.25;
						}
						@include media-breakpoint-down(xs) {
							font-size: $font-size-sm * 3.25;
						}
					}
					&:nth-child(3) {
						transition-delay: 2s;
						transform: translateY($spacer * 2);
					}
				}
			}
			&.swiper-slide-active {
				.ai-s-slider--caption-large {
					p {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}
		&.ai-s-slider-slide3 {
			align-items: center;
			.ai-s-slider--caption-mega-stroke {
				font-size: $font-size-base * 7;
				-moz-text-stroke-width: 4px;
				-webkit-text-stroke-width: 4px;
				text-align: center;
				font-weight: 700;
				margin-bottom: $spacer * 2;
				@include media-breakpoint-down(sm) {
					font-size: $font-size-sm * 5.5;
					-moz-text-stroke-width: 3px;
					-webkit-text-stroke-width: 3px;
				}
				@include media-breakpoint-down(xs) {
					font-size: $font-size-sm * 3.5;
					-moz-text-stroke-width: 2px;
					-webkit-text-stroke-width: 2px;
				}
			}
			.ai-s-slider-down-icon {
				width: 40px;
				height: 40px;
				fill: $black;
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		width: 32px;
		height: 32px;
		&:after {
			font-size: $font-size-sm * 1.75;
		}
	}
}


/* PACKAGES */
.ai-s-packages {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	list-style: none;
	padding: $spacer * 2 0 $spacer * 4;
	margin: 0;
	@include media-breakpoint-down(sm) {
		padding: $spacer * 1.5 0 $spacer * 2;
	}
	text-align: center;
	@include media-breakpoint-down(md) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: $spacer * 1.5;
		grid-row-gap: $spacer * 1.5;
	}
	@include media-breakpoint-down(xs) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: $spacer;
		grid-row-gap: $spacer;
	}
	&.layout-3x {
		grid-template-columns: 30% 30% 30%;
		grid-column-gap: 5%;
		@include media-breakpoint-down(lg) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			grid-row-gap: 0;
		}
		@include media-breakpoint-down(md) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			grid-column-gap: $spacer * 1.5;
			grid-row-gap: 0;
		}
		@include media-breakpoint-down(sm) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-column-gap: 0;
			grid-row-gap: $spacer;
		}
		li {
			padding: 0 $spacer;
			@include media-breakpoint-down(lg) {
				padding: 0;
			}
		}
	}
	li {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0 $spacer * 1.5;
		@include media-breakpoint-down(xs) {
		padding: 0;
		}
		&:hover {
			.img-holder {
				transform: scale(1.08, 1.08);
				&:before {
					left: 160%;
				}
			}
		}
	}
	.img-holder {
		margin-bottom: $spacer * 1.5;
		transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
		overflow: hidden;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 1;
			width: 33%;
			left: -35%;
			transform: skewX(-30deg);
			transform-origin: top;
			background: $white;
			opacity: 0.5;
			transition: all 1s cubic-bezier(0.85, 0, 0.15, 1);
		}
		img {
			width: 144px;
			height: auto;
		}
	}
	h6 {
		margin-bottom: 0;
	}
}


/* TABLE */
.ai-s-table {
	background: $white;
	box-shadow: 0 10px 24px transparentize($gray-800, 0.88);
	&.layout-4x {
		.ai-s-table-row {
			grid-template-columns: 55% 15% 15% 15%;
			@include media-breakpoint-down(md) {
				grid-template-columns: 46% 18% 18% 18%;
			}
			@include media-breakpoint-down(sm) {
				grid-template-columns: 64% 12% 12% 12%;
			}
		}
	}
	.ai-s-table-row-divider {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: flex-start;
		padding: $spacer * 1.2 $spacer $spacer;
		background: $gray-700;
		color: $white;
		font-weight: $font-weight-bold;
		@include media-breakpoint-down(md) {
			padding: $spacer $spacer $spacer * 0.8;
		}
		@include media-breakpoint-down(xs) {
			padding: $spacer * 0.8 $spacer * 0.5 $spacer * 0.6;
		}
	}
	.ai-s-table-row {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
		background: $gray-100;
		grid-template-columns: 40% 15% 15% 15% 15%;
		@include media-breakpoint-down(md) {
			grid-template-columns: 30% 17.5% 17.5% 17.5% 17.5%;
		}
		@include media-breakpoint-down(sm) {
			grid-template-columns: 52% 12% 12% 12% 12%;
		}
		&:nth-child(2n) {
			background: $white;
		}
		&.ai-s-table-h {
			&.ai-s-table-h-dark {
				background: $gray-800;
				.ai-s-table-h-heading,
				.ai-s-table-lead {
					color: $white;
					@include media-breakpoint-down(md) {
						font-size: $font-size-sm;
					}
					@include media-breakpoint-down(xs) {
						font-weight: $font-weight-normal;
					}
				}
			}
			.ai-s-table-cell {
				padding: $spacer * 1.5 $spacer $spacer * 1.25;
				@include media-breakpoint-down(xs) {
					padding: $spacer $spacer * 0.6 $spacer * 0.9;
				}
			}
			.ai-s-table-lead {
				font-size: $font-size-base;
				font-weight: 700;
			}
			.ai-s-table-h-icon {
				display: none;
				@include media-breakpoint-down(sm) {
					display: block;
				}
				img {
					@include media-breakpoint-down(md) {
						width: 32px;
						height: auto;
					}
					@include media-breakpoint-down(xs) {
						width: 24px;
					}
				}
			}
		}
		&.divider {
			border-top: 4px solid $gray-800;
		}
		.ai-s-table-cell {
			padding: $spacer * 1.25 $spacer $spacer;
			font-size: $font-size-sm;
			line-height: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include media-breakpoint-down(md) {
				padding: $spacer $spacer $spacer * 0.8;
			}
			@include media-breakpoint-down(xs) {
				padding: $spacer * 0.6 $spacer * 0.5 $spacer * 0.5;
			}
			&.centered {
				align-items: center;
				text-align: center;
			}
		}
		.package-title-sm {
			margin-bottom: 0;
			display: none;
			@include media-breakpoint-down(md) {
				display: block;
				font-size: $font-size-base;
				font-weight: $font-weight-bold;
				color: $white;
			}
			@include media-breakpoint-down(xs) {
				font-weight: $font-weight-bold;
				line-height: 0.85;
				margin-bottom: 6px;
			}
		}
		.ai-s-table-h-heading {
			font-size: $font-size-base;
			font-weight: $font-weight-bold;
			@include media-breakpoint-down(md) {
				font-size: $font-size-sm * 1.125;
			}
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
		.ai-s-table-i {
			width: 24px;
			height: 24px;
			@include media-breakpoint-down(md) {
				width: 20px;
				height: 20px;
			}
			@include media-breakpoint-down(xs) {
				width: 16px;
				height: 16px;
			}
			.icon {
				fill: $gray-800;
				&.success {
					fill: $success;
				}
			}
		}
	}
}


/* PRICING TABLE */
.ai-price {
	display: flex;
	flex-direction: column;
	border: 2px solid $gray-200;
	border-radius: $border-radius-lg;
	padding: $spacer * 1.5 $spacer * 1.5 $spacer * 3;
	line-height: 1;
	@include media-breakpoint-down(xl) {
	border-radius: $border-radius;
		padding: $spacer * 1.25 $spacer $spacer * 2;
	}
	&.sm-for-modal {
		border-radius: $border-radius;
		padding: $spacer;
		.ai-price-h {
			.ai-price-h-title {
				margin-top: 0;
			}
		}
		.ai-price-c {
			padding-top: $spacer * 1.5;
			padding-bottom: 0;
		}
	}
	.ai-price-h {
		.ai-price-h-icons {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.ai-price-h-lvl {
				max-width: 32px;
			}
			.ai-price-h-fix {
				display: flex;
				align-items: center;
				overflow: hidden;
				width: 32px;
				padding: 6px;
				border-radius: $border-radius-lg;
				line-height: 1;
				cursor: pointer;
				transition: all 0.25s;
				&:hover {
					width: 150px;
					padding: 6px 12px;
					background: $gray-100;
					.ai-price-h-fix-ico {
						.ai-price-h-fix-ico-i {
							fill: $gray-900;
						}
					}
					.ai-price-h-fix-txt {
						opacity: 1;
					}
				}
				.ai-price-h-fix-ico {
					max-width: 20px;
					margin-right: $spacer * 0.5;
					.ai-price-h-fix-ico-i {
						width: 20px;
						height: 20px;
						fill: $gray-500;
						transition: all 0.25s;
					}
				}
				.ai-price-h-fix-txt {
					font-size: $font-size-sm;
					font-weight: $font-weight-bold;
					margin-top: 4px;
					white-space: nowrap;
					opacity: 0;
					transition: all 0.25s;
				}
			}
		}
		.ai-price-h-title {
			margin-top: $spacer * 1.75;
			margin-bottom: 0;
			@include media-breakpoint-down(xl) {
				margin-top: $spacer;
			}
		}
		.ai-price-h-subtitle {
			font-weight: $font-weight-bold;
			color: $gray-900;
			margin-bottom: $spacer * 1.5;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer * 1.25;
			}
		}
		.ai-price-h-prc {
			display: flex;
			@include media-breakpoint-down(md) {
				flex-direction: column;
			}
			.ai-price-h-prc-pfx {
				align-self: flex-start;
				font-size: $font-size-sm;
				font-weight: $font-weight-bold;
				color: $gray-400;
				margin-top: 2px;
			}
			.ai-price-h-prc-amt {
				font-size: $font-size-sm * 2;
				font-weight: $font-weight-bold;
				color: $gray-900;
				padding: 0 5px;
				@include media-breakpoint-down(md) {
					padding: 0;
				}
			}
			.ai-price-h-prc-sfx {
				align-self: flex-end;
				font-size: $font-size-sm * 1.125;
				margin-bottom: 6px;
				@include media-breakpoint-down(md) {
					align-self: flex-start;
				}
			}
		}
	}
	.ai-price-c {
		padding: $spacer * 2.5 0;
		@include media-breakpoint-down(xl) {
			padding: $spacer * 1.5 0;
		}
		.ai-price-c-lead {
			color: $gray-900;
			font-size: $font-size-sm;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			margin-bottom: $spacer * 1.5;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer;
			}
		}
		.ai-price-c-list {
			font-size: $font-size-sm;
			line-height: 1;
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				position: relative;
				padding-left: $spacer * 1.5;
				@include media-breakpoint-down(xl) {
					padding-left: $spacer * 1.25;
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 12px;
					height: 12px;
					background: url("../images/check.svg") center center no-repeat;
				}
				+ li {
					margin-top: $spacer * 0.75;
					@include media-breakpoint-down(xl) {
						margin-top: $spacer * 0.5;
					}
				}
			}
			.ai-price-c-list-icon {
				cursor: pointer;
				position: relative;
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-left: 8px;
				text-align: center;
				z-index: 1;
				&:hover {
					&:before {
						box-shadow: 0 0 0 4px transparentize($primary, 0.8);
					}
				}
				&:before {
					content: '';
					position: absolute;
					z-index: -1;
					top: -2px;
					left: -2px;
					right: -2px;
					bottom: -2px;
					background: $primary;
					border-radius: 50%;
					transition: all 0.15s;
				}
				svg {
					width: 14px;
					height: 14px;
					fill: $white;
					transition: all 0.15s;
				}
			}
		}
	}
	.ai-price-f {
		margin-top: auto;
		.ai-price-f-btn {}
	}
}
.ai-s-ckbx-blk {
	.ai-s-ckbx-blk-intro {
		margin-bottom: $spacer * 2;
		padding: $spacer * 1.5;
		background: $gray-100;
		border-radius: $border-radius-lg;
	}
	.ai-s-ckbx-holder {
		margin-bottom: 0;
		line-height: 1;
		.ai-s-ckbx-title {
			display: block;
			color: $gray-900;
			font-weight: $font-weight-bold;
			margin-bottom: $spacer * 0.25;
		}
		.ai-s-ckbx-subtitle {
			font-size: $font-size-sm;
		}
		.ai-s-ckbx-label {
			position: relative;
			z-index: 1;
			display: block;
			cursor: pointer;
			padding: $spacer;
			padding-left: $spacer * 4.5;
			border-radius: $border-radius-sm;
			transition: box-shadow 0.25s;
			&:hover {
				background: $white;
				box-shadow: 0 3px 8px transparentize($gray-900, 0.9);
			}
			.ai-s-ckbx-title {
				line-height: 1;
				margin-top: 4px;
			}
			.ai-s-ckbx-input {
				position: absolute;
				top: 0;
				right: 0;
				display: none;
				&:checked {
					~ .ai-s-ckbx-switch {
						&:before {
							border-color: $primary;
							background: $primary;
							box-shadow: 0 0 0 4px transparentize($primary, 0.85);
						}
						&:after {
							background: $white;
							left: 36px;
						}
					}
					~ .message-selected {
						display: block;
					}
					~ .message-deselected {
						display: none;
					}
				}
				&:disabled {
					~ .ai-s-ckbx-switch {
						opacity: 0.6;
						&:before {
							box-shadow: 0 0 0 4px transparentize($primary, 0.75);
						}
					}
				}
			}
			.ai-s-ckbx-switch {
				position: absolute;
				top: 0;
				left: 0;
				&:before,
				&:after {
					content: '';
					position: absolute;
					transition: all 0.15s;
				}
				&:before {
					top: 16px;
					left: 16px;
					width: 40px;
					height: 24px;
					border-radius: 18px;
					border: 2px solid $gray-400;
				}
				&:after {
					top: 20px;
					left: 20px;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background: $gray-400;
				}
			}
			.ai-s-ckbx-cond-msg {
				display: block;
				font-size: $font-size-sm;
				line-height: 1;
				margin-top: 8px;
				&.message-deselected {}
				&.message-selected {
					display: none;
					color: $success;
				}
				.ai-s-ckbx-cond-msg-link {
					position: relative;
					display: inline-block;
					width: 16px;
					height: 16px;
					margin-left: 8px;
					text-align: center;
					z-index: 1;
					&:hover {
						&:before {
							box-shadow: 0 0 0 4px transparentize($primary, 0.8);
						}
					}
					&:before {
						content: '';
						position: absolute;
						z-index: -1;
						top: -2px;
						left: -2px;
						right: -2px;
						bottom: -2px;
						background: $primary;
						border-radius: 50%;
						transition: all 0.15s;
					}
					svg {
						width: 14px;
						height: 14px;
						fill: $white;
						transition: all 0.15s;
					}
				}
			}
		}
	}
}


/* BLOG RELATED */
.ai-blog-d-footer {
	position: relative;
	margin-top: $spacer * 4;
	padding-top: $spacer * 4;
	@include media-breakpoint-down(lg) {
		margin-top: $spacer * 3;
		padding-top: $spacer * 3;
	}
	@include media-breakpoint-down(md) {
		margin-top: $spacer * 2;
		padding-top: $spacer * 2;
	}
	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 50%;
	}
	&:before {
		top: 0;
		width: 100px;
		height: 2px;
		background: $gray-200;
		transform: translateX(-50%);
	}
	&:after {
		top: -5px;
		width: 24px;
		height: 24px;
		background: $white;
		border: 4px solid;
		border-color: $primary $primary transparent transparent;
		transform: translateX(-50%) rotate(-45deg);
		outline: 6px solid $white;
	}
}

.ai-price-press .ai-price-h .ai-price-h-title {
	margin-top: 0 !important;
}
.ai-price-press {
	padding: 1.5rem !important;
}
.package-code-preview {
	list-style: none;
	margin-left: -2.5rem;
}
